# Copy this file to .env and customize for your machine.
# Use forward slashes in paths.
SteamLibraryPath=E:/SteamLibrary/steamapps
GodotPath=C:/Tools/Godot_v4.5.1-stable_mono_win64/Godot_v4.5.1-stable_mono_win64.exe
